---
layout: page
title: Alchemy Data Science, LLC
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A DATA SCIENCE <br> CONSULTANCY </h1>
          <p class="animated fadeInUp">We love unlocking the 'Agatha Christie novel' of your data to craft timely, bespoke solutions to relevant, applied business and scientific problems</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Our founder, <a href="https://www.linkedin.com/in/benjamin-skrainka">Benjamin S. Skrainka</a>, has been a data scientist since long before data scientists roamed the earth. As an undergraduate, by writing software to study the curvature of space-time geometry and crater relaxation on icy moons, he realized that software engineering was a fundamental tool for modern science. Consequently, he chose to learn software engineering in the challenging Silicon Valley startup community before pursuing a PhD in Economics. Today, he brings the toolkits of social and natural science as well as machine learning to bear on relevant applied problems, backed by industrial-strength engineering methods.</p>
          </div>
          <p>We understand that successful data science projects must solve the right problem to the appropriate degree of accuracy and also be deployed in your technology ecosystem on-time and on-budget. Consequently, our approach combines the industry leading data science workflow with a framework for evaluating model correctness. And, we drive this project using whichever software engineering methodology you prefer. This approach produces good results which solve the right business question <i>and</i> actually work in the real world.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT SCIENCE</h2>
      <p>Great science depends on good workflow, such as <a href="https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining">CRISP-DM</a>, to ensure consistency and reproducibility &mdash; from solving the right business problem to appropriate models to deployment. By focusing on the business problem first, we identify the best modeling strategies and metrics to create a successful solution.</p>
      <p>Great science achieves correctness through <a href="https://www.cambridge.org/core/books/verification-and-validation-in-scientific-computing/05CA1F8F3CCB5AE5445FDF55239A0183"> verification, validation, and uncertainty quantification (VV&UQ).</a> VV&UQ provides a framework to check that code works correctly and that models have high fidelity with reality.</p>
      <p>Great science is built by using modern software engineering methodologies such as Agile or Kanban. These methodologies make sure that progress can be tracked and that data science projects produce the right solution.</p>
      <p>We combine these three frameworks, each of which is necessary for success, to produce great science-driven results for our clients.</p>

      <!-- XXX
      <a href="{{ site.baseurl }}/services" class="btn btn-view-works">View Services</a>
      XXX -->

    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>We solve interesting, applied problems which require math, econometrics, machine learning, and software engineering to turn data into wining outcomes.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-hammer"></i>
          <h4>Machine learning</h4>
          <p>Need to predict something like fraud or the next best offer? Machine learning is the best in class tool and we can help you apply it to your problems.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-wrench"></i>
          <h4>Econometrics & forecasting</h4>
          <p>If you need to understand your business, such as drivers of sales or causes of churn, econometrics can  identify which business levers have causal impact.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-erlenmeyer-flask"></i>
          <h4>A/B testing</h4>
          <p>Does your model or feature work in the real world? We can design an experiment to measure its causal impact.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-jet"></i>
          <h4>Deep learning</h4>
          <p>Need to solve a perceptual problem like understanding sentiment or computer vision? Deep learning is the best in class tool and we can help you apply it to your problems.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Simulation</h4>
          <p>Simulation provides a powerful tool to understand how your business works and to conduct low cost experiments to optimize your business and validate data science applications.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Data science strategy</h4>
          <p>Whether standing up a new data science group or trying to climb the data science maturity curve, we can accelerate your progress based on our deep experience in Silicon Valley and Seattle, working with world class organizations.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-university"></i>
          <h4>Data science training</h4>
          <p>Growing data talent in house is one of the top options for many organizations. We can help you craft and deliver the right education strategy to upskill your team.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-trophy"></i>
          <h4>Technology evaluation</h4>
          <p>Can that shiny new data science technology really deliver? We can explore whether there really is magic under the hood before you commit serious resources.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Call to action Start -->
<!-- XXX
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>

  XXX -->

<!-- Content Start -->
<!-- XXX
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="People">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
  XXX -->
